* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
@font-face {
  font-family: "Inter";
  src: local("Inter-Regular"),
    url("../public/assets/fonts/Inter-Regular.ttf") format("truetype");
}
